@(field: Field, label: String, options: scala.collection.immutable.Map[String, String], helpText: Option[String] = None)

<div class="col-md-6">
    <label class="form-label d-block">@Html(label)</label>
    @for((value, display) <- options) {
        <div class="form-check">
            <input class="form-check-input @if(field.hasErrors) {is-invalid}"
            type="checkbox"
            name="@field.name"
            id="@field.name-@value"
            value="@value"
            @if(field.indexes.exists(i => field("[" + i + "]").value.contains(value))) {checked}>
            <label class="form-check-label" for="@field.name-@value">@display</label>
        </div>
    }

    @if(field.hasErrors) {
        <div class="invalid-feedback d-block">@{field.error.map(_.message)}</div>
    } else {
        @helpText.map { txt => <div class="form-text">@txt</div> }
    }
</div>
@* USAGE: @fieldCheckbox(myForm("skills"), "Skills", Seq("scala" -> "Scala", "java" -> "Java", "js" -> "JavaScript")) *@